/* panel */

:root{
    --background: #232f3e;
    --white: #ffffff
}

.panel{
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    background-color: var(--background);
    display: flex;
    font-size: 0.9rem;
}

.panel-all, .panel-options, .panel-deals{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px
}

.panel-all{
    gap: 5px;
    font-weight: bold;
}

.panel-options p{
    height: 100%;
    align-content: center;
    padding: 0 15px;
}

.panel-deals{
    margin-left: auto;
    margin-right: 20px;
    font-weight: 700;
}


/* white border hover */
.border{
    border: 1px solid transparent;
    cursor: pointer;
}
.border:hover{
    border: 1px solid var(--white);
}